@import 'reset';

.App {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.carousel {
  width: 800px;
  height: 600px;
}

@media (max-width: 767px) {
  .carousel {
    height: 300px;
  }
}

body {
  background: linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 17%,
    rgba(65, 0, 60, 1) 50%,
    rgba(26, 26, 26, 1) 95%
  );
  background-size: cover;
  //background-repeat: no-repeat;
}
