.Carousel {
  height: 400px;
  width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.showNeighbors {
  display: flex;
  justify-content: center;
  align-items: center;

  .ItemsList {
    height: 80%;
    width: 80%;
  }
  .Item {
    padding-right: 10px;
    padding-left: 10px;
  }
}
